//
// Image + Content.
//

.component-image-content {
  margin: 60px 0;
}
.component-image-content__container {
  background: #fff;
}
.component-image-content__col {
  padding: 0;

  img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
.component-image-content__body {
  margin: 0;
  padding: 20px;

  @media (min-width: $screen-sm-min) {
    padding: 25px 30px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }
}
// If there's a text color override set.
.component-image-content__body--color-override {
  .component-accordion__items .component-accordion__item__content {
    background: none;
  }
  a {
    text-decoration: underline;
  }
  a:hover,
  a:focus {
    color: inherit;
    text-decoration: none;
  }
}
