//
// Notice Strap.
//
.component-notice-strap {
  position: relative;
  clear: both;
  margin: 0;
  padding: 0;

  // Applied from close button.
  &.component-notice-strap--hide {
    display: none;
  }
  .component-notice-strap__content {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 14px;
    z-index: 1;
  }
}
.component-notice-strap--close {
  display: none;

  &.component-notice-strap--show {
    display: block;
  }
  // Applied from close button.
  &.component-notice-strap--hide {
    display: none;
  }
}
.component-notice-strap__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
}
.component-notice-strap__body {
  margin: 0;
  padding: 10px 35px 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 14px 0;
    padding: 0;
  }
  p {
    margin: 0 0 10px;
    padding: 0;
    line-height: 1.4;
  }
}
// If there's a text color override set.
.component-notice-strap--color-override {
  .component-accordion__items .component-accordion__item__content {
    background: none;
  }
  a {
    text-decoration: underline;
  }
  a:hover,
  a:focus {
    color: inherit;
    text-decoration: none;
  }
}

// Buttons.
.component-notice-strap__buttons {
  clear: both;

  div {
    display: inline-block;
    vertical-align: top;
  }
  .btn,
  .btn--primary,
  .btn--default {
    margin: 0 5px 15px;
    padding: 13px 20px;
    font-size: 20px;
  }
  .btn--default {
    color: $c-white;
    border: 1px solid $c-white;
    @include background-opacity($c-black, .4);

    &:hover,
    &:focus {
      color: $c-white;
      background: $c-black;
    }
  }
}

// Close Button.
.component-notice-strap__close {
  position: absolute;
  top: 8px;
  right: 15px;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  opacity: 1;

  &:hover,
  &:focus {
    opacity: .7;
  }
  // Icon.
  &::before {
    @extend %fa-icon;
    @extend .fas;
    content: fa-content($fa-var-times);
  }
}

// Webforms.
.component-notice-strap .component-webform {
  margin: 0;
}
.component-notice-strap form {
  .form-item {
    display: inline-block;
    margin: 20px;
    padding: 0;
    max-width: 240px;
    text-align: left;
    vertical-align: top;
  }
  .form-actions {
    display: inline-block;
    margin: 20px;
    padding: 29px 0 0;
    vertical-align: top;
  }
  .btn--default {
    color: $c-white;
    border: 1px solid $c-white;
    @include background-opacity($c-black, .4);

    &:hover,
    &:focus {
      color: $c-white;
      background: $c-black;
    }
  }
}
